@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,700;1,600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: white;
}

.nav-container {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 30px;
}

.amar {
    color: #0B0223;
    font-size: 25px;
    font-weight: 500;
}

.word {
    color: #FF42A5;
}

.follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 30px 10px 20px;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px 200px;
    background-image: url(../images/Group\ 14.png);
    margin-top: 20px;
}
.banner-img{
    width: 100%;
    margin-left: 300px;
}

.play-like {
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.goal {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0%;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;
}
button{
    margin-top: 10px;
    border: none;
}
.sign {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.go {
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7;
}


/* .banner-container{
    margin-top: 50px;
} */